@import 'tailwindcss';

:root {
	--background: #000000;
	--foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-pink: #ff2a70;
	--font-sans: var(--font-ubuntu);
}

body {
	background: var(--background);
	color: var(--foreground);
}

.swiper-pagination {
    position: relative !important;
    margin-top: 20px;
	border-radius: 0px !important;
}
