@import 'tailwindcss';

:root {
	--background: #000000;
	--foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-pink: #ff2a70;
	--font-sans: var(--font-ubuntu);
}

body {
	background: var(--background);
	color: var(--foreground);
}

.swiper-pagination {
    position: relative !important;
    margin-top: 20px;
	border-radius: 0px !important;
}

.video-swiper .swiper-button-next,
.video-swiper .swiper-button-prev {
  top: auto;
  bottom: 12px;           /* bottom area */
  transform: none;
}

.video-swiper .swiper-button-prev {
  place-self: end;
}

.video-swiper .swiper-button-next {
  right: 50%;
}