@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pink: #FF2A70;
  --font-sans: var(--font-ubuntu);
}

body {
  background: var(--background);
  color: var(--foreground);
}
